@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: lato;
    color: #49484f;
}
h2{
    text-align: center;
    font-family: "Roboto 700" sans-serif;
    color: #c94447;
    margin-top: 20px;
    
}


/* Header */

#menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 4px;
}


#menu a {
    text-decoration: none;
}


#company-name {
    text-align: center;
    font-family: "Roboto 700" sans-serif;
    color: #5f6066;
    background-color: #c94447;
}

.left {
    padding-top: 20px;
    width: 33%;
    float: left;
    text-decoration: underline;
    color: #c94447;
    
}
.right {
    padding-top: 20px;
    width: 33%;
    float: right;
    text-decoration: underline;
    color: #c94447;
}
.center {
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;
    text-decoration: underline;
    color: #c94447;
}
#circle-container {
    width: 150px;
    height: 150px;
    padding: 30px;
    border-style: solid;
    border-color: #4a6cc2;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-cover-bg {
    background: url("../images/blueburner.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
.right-menu {
    width: 50%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    color: #c94447;
}
.left-menu {
    width: 50%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    color: #c94447;
}
/* Home Section*/
.company-background {
   color: #c94447;
   
   margin-top: 20px;
   width: 33%; 
}

.company-background p {
    text-decoration: none;
    font-family: lato;
    color: #49484f;
    
}


/* Footer */
footer{
    height: 150px;
}


.social-nteworks{
    text-align: center;
   }


.list{
    display: inline;
}
.list i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #5f6066;
}
